table{
    border: 1px solid;
    width: 80%;
}
td {
    border: 1px double;
}

#identyfikator{
    background-color: greenyellow;
}

.mojaKlasa{
    color: #3eb6b6;
}

.mojaKlasa.mojaDrugaKlasa{
    color: red;
}

[title="Tytuł"]{
    color: darkkhaki;
}
